[Desktop Entry]
Encoding=UTF-8
Name=keyadd
Comment=Launch keyadd second stage
Icon=gnome-info
Exec=keyadd --second-stage
Terminal=false
Type=Application
Categories=

